<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" th:href="@{/mystyle.css}" href="../static/mystyle.css">
</head>
<body>
<main>
    <header class="header"> header</header>
    <nav class="navbar">
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
    </nav>
    <section class="section">
        <div class="index"> Index</div>
        <div class="content"> Content Section</div>
    </section>
    <footer class="footer"> footer</footer>
</main>
</body>
</html>