<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css"
      th:href="@{/user.css}" href="../static/user.css">
<link
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
        rel="stylesheet"  type='text/css'>
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>


<div class="container">
    <form th:action="@{/users/save}" th:object="${user}" method="post">
        <div class="row">
            <h4>User</h4>
            <div class="input-group input-group-icon">
                <input type="hidden" th:field="*{id}"/>
                <input type="text" placeholder="First Name" th:field="*{firstName}"/>
                <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <div class="input-group input-group-icon">
                <input type="text" placeholder="Last Name" th:field="*{lastName}"/>
                <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <div class="input-group input-group-icon">
                <input type="email" placeholder="Email Adress" th:field="*{email}"/>
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
            </div>
            <div class="input-group input-group-icon">
                <input type="password" placeholder="Password" th:field="*{password}"/>
                <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>


            <div class="form-group row">
                <h4>Roles: </h4>
                <div >
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:value="${role.id}" th:text="${role.name}"/>


                    </th:block>
                    <!--                magic of Thymleaf auto fill up -->
                </div>
            </div>

<!--            <div class="row">-->
<!--                <div class="col-half">-->
<!--                    <h4>Date of Birth</h4>-->
<!--                    <div class="input-group">-->
<!--                        <div class="col-third">-->
<!--                            <input type="text" placeholder="DD"/>-->
<!--                        </div>-->
<!--                        <div class="col-third">-->
<!--                            <input type="text" placeholder="MM"/>-->
<!--                        </div>-->
<!--                        <div class="col-third">-->
<!--                            <input type="text" placeholder="YYYY"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-half">-->
<!--                    <h4>Gender</h4>-->
<!--                    <div class="input-group">-->
<!--                        <input id="gender-male" type="radio" name="gender" value="male"/>-->
<!--                        <label for="gender-male">Male</label>-->
<!--                        <input id="gender-female" type="radio" name="gender" value="female"/>-->
<!--                        <label for="gender-female">Female</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>